{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="parallax-container" style="background-image: url('{% static 'images/material/background.jpg' %}')">
		<div class="section no-pad-bot">
			<div class="container"></div>
		</div>
	</div>
	<div class="section no-pad-bot" style="margin-top:-5%;">
		<div class="row">
			<div class="col offset-l1 l10 s12 white z-depth-2" style="padding:15px;">
				<img class="profile-avatar tooltipped responsive-img" src="{% static 'images/material/user_sharper.png' %}" alt="{{ user.get_full_name }}'s Avatar" data-position="top" data-delay="50" data-tooltip="{{ user.get_full_name }}'s Avatar">
				<div class="section username-content">
					<h5 class="text-center">
						{{ user.get_full_name }}
					</h5>
					<h6 class="text-center text-muted">
						Newbie
					</h6>
				</div>
				<div class="section">
					<div class="row">
						<div class="col s12 m8">
							<b>About Me:</b>
							<p>
								{{ user.profile.about_you }}
							</p>
						</div>
						<div class="col  offset-m1 m3 hide-on-small-only">
							<b>Strengths:</b>
							<br/>
							Php, Python, Java, WordPress	
						</div>
					</div>
					<div class="row">
						<div class="col">
							
						</div>
					</div>
					<div class="row">
						<div class="col s12 m9 l10">
							<div id="introduction" class="section scrollspy">
								<p>Content </p>
							</div>

							<div id="structure" class="section scrollspy">
								<p>Content </p>
							</div>

							<div id="initialization" class="section scrollspy">
								<p>Content </p>
							</div>	
						</div>
						<div class="col hide-on-small-only m3 l2">
							<ul class="section table-of-contents">
								<li><a href="#introduction">Introduction</a></li>
								<li><a href="#structure">Structure</a></li>
								<li><a href="#initialization">Intialization</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}