{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="parallax-container" style="background-image: url('{% static 'images/material/background.jpg' %}')">
		<div class="section no-pad-bot">
			<div class="container"></div>
		</div>
	</div>
	<div class="section no-pad-bot" style="margin-top:-5%;">
		<div class="row">
			<div class="col offset-l1 l10 s12 white z-depth-2" style="padding:15px;">
				<img class="profile-avatar tooltipped responsive-img" src="{% static 'images/material/user_sharper.png' %}" alt="{{ user.get_full_name }}'s Avatar" data-position="top" data-delay="50" data-tooltip="{{ user.get_full_name }}'s Avatar">
				<div class="section username-content">
					<h5 class="text-center">
						{{ user.get_full_name }}
					</h5>
					<h6 class="text-center text-muted text-capitalize">
						{% if user.profile.is_employer %}
						employer
						{% else %}
						newbie
						{% endif%}
					</h6>
				</div>
				<div class="section">
					<div class="row">
						<div class="col s12 m9">
							<div class="row">
								<div class="col s12">
									<b>About Me:</b>
									<p>
										{{ user.profile.about_you }}
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<b>Educational Background:</b>
								</div>
							</div>
						</div>
						<div class="col m3 hide-on-small-only">
							<b>Strengths:</b>
							<br/>
							Php, Python, Java, WordPress	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}